.index {
    &__background-img {
        position: relative;
        height: 100vh;
        background-image: linear-gradient(
            to bottom right,
            darken(rgba($color-blue-medium, 0.75), 35%),
            darken(rgba($color-blue-dark, 0.35), 70%)),
        url(../img/Background.svg);
        background-size: cover;
    }
    &__display {
        @include absolute-center;

        .heading-1 {
            text-align: center;
            margin-bottom: 2rem;
            animation: 1s fadeInFromTop .5s ease-in forwards;
            opacity: 0;
        }
        .form__group:nth-of-type(1) {
            animation: 1s fadeInFromLeft .5s ease-in forwards;
            opacity: 0;
        }
        .form__group:nth-of-type(2) {
            animation: 1s fadeInFromBottom .5s ease-in forwards;
            opacity: 0;
        }
        .form__group:nth-of-type(3) {
            animation: 1s fadeInFromBottom .5s ease-in forwards;
            opacity: 0;
        }
        .form__group:nth-of-type(4) {
            animation: 1s fadeInFromRight .5s ease-in forwards;
            opacity: 0;
        }
        .form__group:nth-of-type(5) {
            animation: 1s fadeInFromRight .5s ease-in forwards;
            opacity: 0;
        }
    }
}