.plain-recipe{ 
    &__aside {
        &__span {
            color: $color-black;
            font-size: $font-size-small;
        }
        &__checkbox {
            &__label {
                background-color: $color-blue-light;
            }
        }
    }
}