.recipe {
    margin-top: auto;
    position: relative;
    height: 100%;
    background-size: cover;
}

.aside {
    margin: 8rem auto;
    
    .heading-2 {
        text-align: center;
        margin: 2rem;
    }
}