.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    box-shadow: $shadow-normal;
    margin-bottom: 0.5rem;

    &__container {
        display: flex;
    }

    &__link {
        margin-left: 1rem;
        margin-right: 10rem;
        text-decoration: none;
        color: $color-black;
        &__logo {
            height: 3rem;
            width: 3rem;
        }
    }
}