@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  80% {
    opacity: 0.8;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  80% {
    opacity: 0.8;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* *********** ROOT/BODY STYLING *********** */
/* GLOBAL RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* DEFINE REM */
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  background-color: #f7f1e3;
}

body {
  font-family: "Cardo", serif;
  font-weight: 400;
  line-height: 1.2;
}

.heading-1 {
  font-size: 2.4rem;
  color: #d1ccc0;
  display: block;
}

.heading-2 {
  margin: 4rem;
  font-size: 1.6rem;
  color: #d1ccc0;
  display: block;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.btn {
  padding: 2rem 5rem;
  transition: all 0.2s;
  border-radius: 3rem;
  position: relative;
  font-size: 1.6rem;
  border: none;
  display: inline-block;
  color: #227093;
  background-color: #ffb142;
  cursor: pointer;
}
.btn::after {
  content: "";
  background-color: #ffb142;
  border-radius: 5%;
  transition: all 0.4s;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn:hover {
  box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.3);
  transform: translateY(-0.5rem);
}
.btn:hover::after {
  transform: scale(1.4, 1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.1);
  outline: none;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .form {
    flex-direction: column;
  }
}
.form__group {
  padding-top: 1rem;
}
.form__group:not(:last-child) {
  margin-right: 2rem;
}
.form__label {
  font-size: 1.6rem;
  color: #34ace0;
  font-weight: 400;
  margin-top: 1rem;
  padding-right: 2rem;
  display: block;
  transition: all 0.5s;
}
.form__label:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 37.5em) {
  .form__label {
    font-size: 2.4rem;
  }
}
.form__input {
  font-family: inherit;
  color: #227093;
  border: none;
  display: block;
  border-bottom: 3px solid #ff793f;
  font-size: 1.6rem;
  padding: 1.5rem;
  margin-right: 1rem;
  background-color: #ffb142;
  border-radius: 10rem;
  transition: all 0.5s;
}
.form__input::placeholder {
  color: #227093;
  opacity: 1;
}
.form__input:hover {
  transform: scale(1.05);
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid #ff793f;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__select {
  position: relative;
  padding: 1.5rem 3rem;
  font-family: inherit;
}
.form__select__label {
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .form__select__label {
    margin-bottom: 2rem;
  }
}
.form__checkbox {
  position: relative;
  width: 3.4rem;
  height: 8rem;
  display: flex;
}
.form__checkbox__input:checked + .form__checkbox__label {
  background-color: #227093;
}
.form__checkbox__input:focus + .form__checkbox__label {
  box-shadow: 0 0 1px #34ace0;
}
.form__checkbox__input:checked + .form__checkbox__label::before {
  transform: translateY(-3.5rem);
  background-color: #84817a;
}
.form__checkbox__input {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .form__checkbox {
    display: block;
  }
}
.form__checkbox__span {
  color: #f7f1e3;
  margin-top: 8rem;
}
@media only screen and (max-width: 37.5em) {
  .form__checkbox__span {
    font-size: 2.4rem;
    margin-left: 5rem;
    margin-top: 0rem;
    display: block;
  }
}
.form__checkbox__label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f1e3;
  transition: 0.4s;
  border-radius: 3.4rem;
}
.form__checkbox__label::before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: 0.4rem;
  bottom: 0.4rem;
  background-image: linear-gradient(rgba(52, 172, 224, 0.6), rgba(33, 140, 116, 0.6));
  transition: 0.4s;
  border-radius: 50%;
}
@media only screen and (max-width: 37.5em) {
  .form__btn {
    margin-top: 3rem;
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.recipe__container {
  margin-left: 3rem;
}
.recipe__name {
  margin-top: 15rem;
  color: #84817a;
  background-color: rgba(247, 241, 227, 0.7);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  width: 35%;
  border-radius: 3rem;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 56.25em) {
  .recipe__name {
    margin-top: 20rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .recipe__name {
    width: 50%;
  }
}
.recipe .heading-2 {
  color: #d1ccc0;
}
.recipe__ingredients {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 50%;
  padding: 1rem 3rem;
  border-radius: 3rem;
  background-color: rgba(247, 241, 227, 0.7);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  list-style: none;
}
@media only screen and (max-width: 56.25em) {
  .recipe__ingredients {
    width: 80%;
  }
}
.recipe__ingredients__ing {
  color: #000;
  padding-bottom: 0.5rem;
  opacity: 0.8;
  transition: all 3s ease-in-out;
  font-size: 1.6rem;
}
.recipe__ingredients__ing--name {
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.recipe__ingredients__ing--qt {
  padding-right: 1rem;
}
.recipe__ingredients__ing:hover {
  transform: scale(1.2);
  transform-origin: 0 0;
  opacity: 1;
}
.recipe__prep {
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  color: #000;
  border-radius: 3rem;
  background-color: rgba(247, 241, 227, 0.7);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  list-style: none;
  counter-reset: prep-counter;
}
.recipe__prep__item {
  font-size: 1.6rem;
  padding: 0 3rem;
  counter-increment: prep-counter;
}
.recipe__prep__item::before {
  content: counter(prep-counter);
  font-size: 5rem;
  color: #cc8e35;
}

.plain-recipe {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 5rem;
  font-size: 2.4rem;
}
.plain-recipe__heading {
  color: #000;
}
.plain-recipe__ingredients {
  display: flex;
  flex-direction: column;
}
.plain-recipe__prep {
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 5rem;
  left: 1rem;
  font-size: 1.2rem;
  color: #f7f1e3;
  background-color: #84817a;
  border: 2px solid #aaa69d;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.header__copyright {
  margin: 0 auto;
}
.header__credit {
  margin: 0 auto;
}

.index__background-img {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(14, 75, 61, 0.75), rgba(0, 0, 0, 0.75)), url(../img/pizza.jpg);
  background-size: cover;
}
.index__display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.index__display .heading-1 {
  text-align: center;
  margin-bottom: 2rem;
  animation: 1s fadeInFromTop 0.5s ease-in forwards;
  opacity: 0;
}
.index__display .form__group:nth-of-type(1) {
  animation: 1s fadeInFromLeft 0.5s ease-in forwards;
  opacity: 0;
}
.index__display .form__group:nth-of-type(2) {
  animation: 1s fadeInFromBottom 0.5s ease-in forwards;
  opacity: 0;
}
.index__display .form__group:nth-of-type(3) {
  animation: 1s fadeInFromBottom 0.5s ease-in forwards;
  opacity: 0;
}
.index__display .form__group:nth-of-type(4) {
  animation: 1s fadeInFromRight 0.5s ease-in forwards;
  opacity: 0;
}

.recipe {
  margin-top: auto;
  position: relative;
  height: 100%;
  background-size: cover;
}

.aside {
  margin: 8rem auto;
}
.aside .heading-2 {
  text-align: center;
  margin: 2rem;
}

.plain-recipe__aside__span {
  color: #000;
  font-size: 1.2rem;
}
.plain-recipe__aside__checkbox__label {
  background-color: #33d9b2;
}

/*# sourceMappingURL=style.css.map */
