// COLORS
$color-blue-light: #d0e8f2;
$color-blue-medium: #79a3b1;
$color-blue-dark: #456268;

$color-white: #fff;
$color-black: #000;
$color-gray: #fcf8ec;

$color-gray-light-1: #f7f1e3;
$color-gray-light-2: #d1ccc0;

$color-gray-dark-1: #aaa69d;
$color-gray-dark-2: #84817a;

// FONT-SIZE
$font-size-large: 2.4rem;
$font-size-normal: 1.6rem;
$font-size-small: 1.2rem;

// FONT-FAMILY
$font-family-default: 'Cardo', serif;
$font-family-serif: 'Shippori Mincho', serif;
$font-family-sans: 'Poppins', sans-serif;

// BOX-SHADOW
$shadow-normal: 0 2rem 4rem rgba(#000, 0.4);