.plain-recipe {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    padding: 5rem;
    font-size: $font-size-large;

    &__heading {
        color: #000;
    }
    &__ingredients {
        display: flex;
        flex-direction: column;
    }
    &__prep {
        display: flex;
        flex-direction: column;
    }
}