.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
        margin-top: 15rem;
        color: $color-gray-dark-2;
        background-color: rgba($color-gray-light-1, 0.7);
        box-shadow: $shadow-normal;
        width: 35%;
        border-radius: 3rem;
        padding: 1rem 2rem;

        @include respond(tab-port) {
            margin-top: 20rem;
        }
        
        @include respond(phone) {
            width: 50%;
        }
    }

    .heading-2 {
        color: $color-gray-light-2;
    }

    &__ingredients {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 50%;
        padding: 2rem;
        border-radius: 3rem;
        background-color: rgba($color-gray-light-1, 0.7);
        box-shadow: $shadow-normal;
        list-style: none;

        @include respond(tab-port) {
            width: 80%;
        }

        &__ing {
            color: #000;
            padding-bottom: 0.5rem;
            opacity: 0.8;

            &:last-child {
                padding-bottom: 2rem;
            }

            transition: all 3s ease-in-out;
            font-size: $font-size-normal;
            &--name {
                padding-bottom: 2rem;
                padding-right: 1rem;
            }
            &--qt {
                padding-right: 1rem;
            }
            &--unit {
            }

            &:hover {
                transform: scale(1.05);
                opacity: 1;
            }
        }
    }

    &__unit {
        
    }

    &__prep {
        text-align: left;
        margin: 0 auto;
        padding: 0 1rem;
        color: #000;
        border-radius: 3rem;

        background-color: rgba($color-gray-light-1, 0.7);
        box-shadow: $shadow-normal;

        list-style: none;
        counter-reset: prep-counter;

        &__item {
            font-size: $font-size-normal;
            counter-increment: prep-counter;
        }
        &__item::before {
            content: counter(prep-counter);
            font-size: 5rem;
            color: $color-orange-dark;
        }
    }
    &:hover &__img {
        transform: scale(1.2);
    }
}