{% extends 'base.html' %}

{% block title %}
Translate a recipe
{% endblock %}

{% block content %}
<form method="post">
    <label for="url">Insert a receipe URL:</label>
    <input
        type="text"
        name="url"
        id="url"
    >
    <label for="site">Choose a website</label>
    <select name="site" id="site">
        <option value="gz">Giallo Zafferano</option>
        <option value="fdc">Fatto di Casa</option>
    </select>
    <button type="submit">Submit</button>
</form>
{% endblock %}