{% extends 'base.html' %}

{% block title %}
Translate a recipe
{% endblock %}

{% block content %}
<main class="index">
    <div class="index__background-img"></div>
    <div class="index__display">
        <h1 class="heading-1">Translate a recipe from Italian to English</h1>
        <form method="post" class="form">
            <div class=form__group>
                <input
                    type="text"
                    name="url"
                    id="url"
                    class="form__input"
                    placeholder="Insert a URL"
                    required
                >
                <label class="form__label form__input__label" for="url">Recipe URL</label>
            </div>
            <div class="form__group">
                <select name="site" id="site" class="form__select">
                    <option class="form__select__option" value="gz">Giallo Zafferano</option>
                    <option class="form__select__option" value="fc">Fatto in Casa</option>
                    <option class="form__select__option" value="mz">Molliche di Zucchero</option>
                    <option class="form__select__option" value="ag">Allacciate il Grembiule</option>
                    <option class="form__select__option" value="rm">Le Ricette di Max</option>
                </select>
                <label for="site" class="form__label form__select__label">Website</label>
            </div>
            <div class="form__group form__checkbox">
                <input
                    type="checkbox"
                    name="convert"
                    id="convert"
                    class="form__checkbox__input"
                    checked
                    aria-lablledby="checkbox-units__span"
                >
                <label
                    for="convert"
                    class="form__label form__checkbox__label"
                ></label>
                <span
                    class="form__checkbox__span"
                    id="checkbox-units__span"
                >Convert units</span>
            </div>
            <div class="form__group form__checkbox">
                <input
                    type="checkbox"
                    name="simple"
                    id="simple"
                    class="form__checkbox__input"
                    checked
                    aria-lablledby="checkbox-simple-output__span"
                >
                <label
                    for="simple"
                    class="form__label form__checkbox__label"
                ></label>
                <span
                    class="form__checkbox__span"
                    id="checkbox-simple-output__span"
                >Recipe formatted</span>
            </div>
            <div class="form__group">
                <button type="submit" class="btn form__btn">Go &rarr;</button>
            </div>
        </form>
    </div>
</main>
<script src="{{url_for('static', filename='script/frontpage.js')}}"></script>
<script src="{{url_for('static', filename='script/scripts.js')}}"></script>
{% endblock %}