{% extends 'base.html' %}

{% block title %}
{{ title }} - translated
{% endblock %}

{% block content %}
<main class="recipe" style="background-image: linear-gradient(to bottom right, rgba(121, 163, 177, 0.75), rgba(69, 68, 104, 0.75)), url({{ image }})">
    <div class="background-filter"></div>
    <div class="recipe__container">
        <h1 class="heading-1 recipe__name">{{ title }}</h1>
        <h2 class="heading-2">Ingredients</h2>
        <ul class="recipe__ingredients">
            {% for ingredient in ingredients %}
                <li class="recipe__ingredients__ing">
                    <span class="recipe__ingredients__ing--name">{{ ingredient[0].capitalize() }}</span>
                    <span class="recipe__ingredients__ing--qt">{{ ingredient[1] }} </span>
                    {% if ingredients[2] is defined %}
                        <span class="recipe__ingredients__ing--unit">{{ ingredient[2] }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <h2 class="heading-2 u-margin-bottom-sm ">Preparation</h2>
        <ul class="recipe__prep">
            {% for step in prep %}
                <li class="recipe__prep__item">{{ step }}</li>
            {% endfor %}
        </ul>
    </div>
    <aside class="aside">
        <h2 class="heading-2">Translate another recipe</h1>
        <form method="post" class="form">
            <div class=form__group>
                <input
                    type="text"
                    name="url"
                    id="url"
                    class="form__input"
                    placeholder="Insert a URL"
                    required
                >
                <label class="form__label form__input__label" for="url">Recipe URL</label>
            </div>
            <div class="form__group">
                <select name="site" id="site" class="form__select">
                    <option class="form__select__option" value="gz">Giallo Zafferano</option>
                    <option class="form__select__option" value="fc">Fatto in Casa</option>
                    <option class="form__select__option" value="mz">Molliche di Zucchero</option>
                    <option class="form__select__option" value="ag">Allacciate il Grembiule</option>
                    <option class="form__select__option" value="rm">Le Ricette di Max</option>
                </select>
                <label for="site" class="form__label form__select__label">Website</label>
            </div>
            <div class="form__group form__checkbox">
                <input
                    type="checkbox"
                    name="convert"
                    id="convert"
                    class="form__checkbox__input"
                    checked
                    aria-lablledby="checkbox__label"
                >
                <label
                    for="convert"
                    class="form__label form__checkbox__label"
                ></label>
                <span
                    class="form__checkbox__span"
                    id="checkbox-units__span"
                >Convert units</span>
            </div>
            <div class="form__group form__checkbox">
                <input
                    type="checkbox"
                    name="simple"
                    id="simple"
                    class="form__checkbox__input"
                    checked
                    aria-lablledby="checkbox-simple-output__span"
                >
                <label
                    for="simple"
                    class="form__label form__checkbox__label"
                    id="checkbox-simple-output__label"
                ></label>
                <span
                    class="form__checkbox__span"
                    id="checkbox-simple-output__span"
                >Recipe formatted</span>
            </div>
            <div class="form__group">
                <button type="submit" class="btn form__btn">Go &rarr;</button>
            </div>
        </form>
    </aside>
</main>
{% endblock %}